<!DOCTYPE html>
<html ng-app="reddit-clone">
  <head>
    <title>Reddit Clone</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <script type="text/javascript" src="/app.js"></script>
  </head>

  <body>
    <div>
      <div ui-view></div>

      <a ui-sref="state1">State 1 test</a>
      <a ui-sref="state2">State 2</a>
    </div>

    {{#if hasLiveReload}}
      <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    {{/if}}
  </body>
</html>
